# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
sonar-project.properties
.scannerwork
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
coverage
/cypress/videos
/cypress/screenshots
**/cypress.env.json
.env*
.flaskenv*
dev-dist
!.env.project
!.env.vault