VITE_CLEINT_ID="some-client-id"
API_KEY="SOME-API-KEY",
AUTH_DOMAIN="SOME-AUTH-DOMAIN.COM",
PROJECT_ID="SOME-P-ID-1234",
STORAGE_BUCKET="SOME-BUCKET.COM",
MESSAGING_SENDER_ID="12345678900",
APP_ID="SOME:APP:ID",
MEASUREMENT_ID="SOME-MEASURMENT213-ID"